
<nav>
    <button routerLink="/login">Login</button>
    <button routerLink="/register">Register</button>
    <button routerLink="/courses">Courses</button>
    <button routerLink="/logout">Logout</button>
    <button routerLink="/addCourse" *ngIf="Lecturer">add course</button>
    <!-- <li routerLink="/login" routerLinkActive="active"><a>Login</a></li>
    <a routerLink="/login">Login</a> -->
</nav>


<!-- <app-login></app-login>
<all-courses></all-courses>
<add-course></add-course> -->

<router-outlet></router-outlet> 
