<p>login works!</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <p *ngIf="wrongNL">the name is wroning!</p>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input type="text" class="form-control" id="password" formControlName="password">
    </div>
    <p *ngIf="wrongPL">the password is wroning!</p>
    <p *ngIf="wrongPassword">the password is wroning!</p>
    <div class="mb-3" *ngIf="isEnterLecturer">
        <label class="form-label" for="password">Name of course</label>
        <input type="text" id="password">
    </div>
    <button type="button" class="btn btn-primary" (click)="enterLecturer()">Lecturer</button>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
